workflow.json
{
  "name": "yieldreport-podcast-v1",
  "nodes": [
    {
      "id": "podcast-n8n-0001",
      "name": "Podcast Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [240, 300],
      "parameters": {
        "formTitle": "YieldReport Podcast Generator",
        "formDescription": "Start a new podcast episode from a YieldReport PDF on Google Drive.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Google Drive File ID",
              "fieldType": "text",
              "placeholder": "e.g. 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgVE2upms",
              "requiredField": true
            },
            {
              "fieldLabel": "Episode Date",
              "fieldType": "text",
              "placeholder": "YYYY-MM-DD (leave blank for today)",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "webhookId": "yieldreport-podcast-trigger"
    },
    {
      "id": "podcast-n8n-0002",
      "name": "Download PDF from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['Google Drive File ID'] }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "id": "podcast-n8n-0003",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "destinationKey": "extractedText",
        "options": {}
      }
    },
    {
      "id": "podcast-n8n-0004",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const extractedText = $input.first().json.extractedText || '';\nconst fileId = $('Podcast Trigger').first().json['Google Drive File ID'];\nconst rawDate = $('Podcast Trigger').first().json['Episode Date'];\nconst episodeDate = rawDate && rawDate.trim() ? rawDate.trim() : new Date().toISOString().slice(0, 10);\n\nif (!extractedText || extractedText.length < 100) {\n  throw new Error('PDF extraction returned too little text. Check that the PDF is not image-only (scanned).');\n}\n\nconst prompt = `You are writing a podcast script for YieldReport's daily fixed income brief.\n\nAUDIENCE\nSophisticated Australian investors: SMSF trustees, financial advisers, corporate treasurers, fund managers, super fund staff. They know what a basis point is. They know what hybrids and term deposits are. Do not explain basics.\n\nTONE\nAuthoritative, concise, Reuters-meets-Bloomberg. No hype. No filler phrases (\"In this episode we'll explore...\"). No conversational throat-clearing. Lead with substance.\n\nLENGTH\nTarget 1,500 words. Hard floor 1,300, hard ceiling 1,650. This maps to roughly 10 minutes of spoken audio at 150 wpm.\n\nSTRUCTURE\n1. Cold open with the single most important development from the source document — one sentence stating what happened.\n2. One-paragraph context for that lead story.\n3. Sectioned coverage of the relevant areas, only those present in the source: cash rates, term deposits, government bonds, corporate bonds, hybrids, managed funds. Skip any area the source doesn't cover. Don't fabricate coverage.\n4. Specific numbers throughout — yields, bps moves, issue sizes, coupon rates, maturity dates. Numbers are the value-add.\n5. Close with one sentence on what to watch tomorrow or this week.\n\nFORMATTING RULES (CRITICAL — output goes directly to TTS)\n- Output only the words the narrator will read. No stage directions. No speaker labels. No \"[pause]\" or \"[music]\" markers.\n- No markdown. No bold. No headers. No bullet points. Plain prose only.\n- Spell out numbers that are awkward when read: \"twenty-five basis points\" not \"25bps\" — but keep precise figures like \"4.35%\" as digits because TTS handles them correctly.\n- Write out acronyms on first use: \"Reserve Bank of Australia (RBA)\" then \"RBA\" thereafter.\n- Use full sentences. No sentence fragments. TTS prosody depends on it.\n- End every sentence with proper terminal punctuation. No trailing commas at section breaks.\n\nDO NOT\n- Make up numbers, names, or events not in the source document.\n- Recommend buying or selling specific securities. Report; don't advise.\n- Use phrases like \"as our listeners know\" or \"stay tuned.\"\n\nSOURCE DOCUMENT:\n${extractedText}\n\nOutput the script now. Begin immediately with the cold open. No preamble, no \"Here is the script:\" — just the script itself.`;\n\nreturn [{ json: { prompt, fileId, episodeDate, extractedTextLength: extractedText.length } }];"
      }
    },
    {
      "id": "podcast-n8n-0005",
      "name": "Generate Script (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "continueOnFail": false,
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ contents: [{ role: 'user', parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.7, maxOutputTokens: 4000, thinkingConfig: { thinkingBudget: 0 } } }) }}",
        "options": {
          "timeout": 120000
        }
      }
    },
    {
      "id": "podcast-n8n-0006",
      "name": "Parse Script Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-script",
              "name": "script",
              "value": "={{ $json.candidates[0].content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "assign-file-id",
              "name": "fileId",
              "value": "={{ $('Build Gemini Prompt').first().json.fileId }}",
              "type": "string"
            },
            {
              "id": "assign-episode-date",
              "name": "episodeDate",
              "value": "={{ $('Build Gemini Prompt').first().json.episodeDate }}",
              "type": "string"
            },
            {
              "id": "assign-model",
              "name": "modelUsed",
              "value": "gemini-2.5-flash",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "podcast-n8n-0007",
      "name": "Validate Script Length",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst script = item.script || '';\nconst wordCount = script.trim().split(/\\s+/).filter(Boolean).length;\n\nif (wordCount < 1300) {\n  throw new Error(`Script too short: ${wordCount} words (minimum 1300). Check Gemini response or prompt.`);\n}\nif (wordCount > 1650) {\n  throw new Error(`Script too long: ${wordCount} words (maximum 1650). Check Gemini response or prompt.`);\n}\n\n// Check no markdown artifacts\nif (/^#{1,6} /m.test(script)) {\n  throw new Error('Script contains markdown headers. Gemini did not follow formatting rules.');\n}\nif (/\\*\\*.*\\*\\*/s.test(script)) {\n  throw new Error('Script contains markdown bold. Gemini did not follow formatting rules.');\n}\n\nreturn [{ json: { ...item, wordCount } }];"
      }
    },
    {
      "id": "podcast-n8n-0008",
      "name": "Post Script to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ channel: $env.SLACK_APPROVAL_CHANNEL_ID, text: ':memo: *YieldReport Podcast Script — Approval Required*', blocks: [ { type: 'header', text: { type: 'plain_text', text: ':studio_microphone: YieldReport Podcast — Script Approval' } }, { type: 'section', text: { type: 'mrkdwn', text: '*Episode:* ' + $json.episodeDate + '\\n*Word count:* ' + $json.wordCount + '\\n*Source file ID:* `' + $json.fileId + '`' } }, { type: 'divider' }, { type: 'section', text: { type: 'mrkdwn', text: '*Script preview (first 500 chars):*\\n```' + $json.script.slice(0, 500) + '...```' } }, { type: 'actions', elements: [ { type: 'button', text: { type: 'plain_text', text: '✅ Approve' }, style: 'primary', url: $execution.resumeUrl + '?approved=true' }, { type: 'button', text: { type: 'plain_text', text: '❌ Reject' }, style: 'danger', url: $execution.resumeUrl + '?approved=false' } ] } ] }) }}",
        "options": {}
      }
    },
    {
      "id": "podcast-n8n-0009",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 300],
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "webhookId": "yieldreport-approval-wait"
    },
    {
      "id": "podcast-n8n-0010",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-approved",
              "leftValue": "={{ $json.query.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "podcast-n8n-0011",
      "name": "Notify Rejection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 480],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ channel: $env.SLACK_APPROVAL_CHANNEL_ID, text: ':x: Podcast script for ' + $('Validate Script Length').first().json.episodeDate + ' was rejected. Re-run the workflow to generate a new script.' }) }}",
        "options": {}
      }
    },
    {
      "id": "podcast-n8n-0012",
      "name": "Chunk Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const MAX_CHARS = 2500;\nconst item = $('Validate Script Length').first().json;\nconst script = item.script;\n\nconst paragraphs = script.split(/\\n\\s*\\n/).map(p => p.trim()).filter(Boolean);\n\nconst chunks = [];\nlet current = '';\n\nfor (const para of paragraphs) {\n  if (current && (current.length + para.length + 2) > MAX_CHARS) {\n    chunks.push(current.trim());\n    current = '';\n  }\n  if (para.length > MAX_CHARS) {\n    const sentences = para.match(/[^.!?]+[.!?]+/g) || [para];\n    for (const sent of sentences) {\n      if (current && (current.length + sent.length + 1) > MAX_CHARS) {\n        chunks.push(current.trim());\n        current = '';\n      }\n      current += (current ? ' ' : '') + sent.trim();\n    }\n  } else {\n    current += (current ? '\\n\\n' : '') + para;\n  }\n}\nif (current.trim()) chunks.push(current.trim());\n\n$workflow.staticData.chunkCount = chunks.length;\n$workflow.staticData.episodeDate = item.episodeDate;\n$workflow.staticData.fileId = item.fileId;\n$workflow.staticData.wordCount = item.wordCount;\n$workflow.staticData.modelUsed = item.modelUsed;\n$workflow.staticData.script = item.script;\n\nreturn chunks.map((text, i) => ({ json: { chunkIndex: i, text, totalChunks: chunks.length, episodeDate: item.episodeDate, script: item.script } }));"
      }
    },
    {
      "id": "podcast-n8n-0013",
      "name": "Validate Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const items = $input.all();\nconst errors = [];\n\nfor (const item of items) {\n  const { chunkIndex, text } = item.json;\n  if (text.length > 4500) {\n    errors.push(`Chunk ${chunkIndex} is ${text.length} chars (max 4500).`);\n  }\n  if (!/[.?!]$/.test(text.trim())) {\n    errors.push(`Chunk ${chunkIndex} does not end with terminal punctuation: ...\"${text.slice(-30)}\"`);\n  }\n}\n\nif (errors.length > 0) {\n  throw new Error('Chunk validation failed:\\n' + errors.join('\\n'));\n}\n\nreturn items;"
      }
    },
    {
      "id": "podcast-n8n-0014",
      "name": "Init TTS State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "$workflow.staticData.previousRequestIds = [];\n$workflow.staticData.totalElevenLabsChars = 0;\nreturn $input.all();"
      }
    },
    {
      "id": "podcast-n8n-0015",
      "name": "Loop Over Chunks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [3100, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "podcast-n8n-0016",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ JSON.stringify({ text: $json.text, model_id: 'eleven_turbo_v2_5', voice_settings: { stability: 0.55, similarity_boost: 0.75, style: 0.10, use_speaker_boost: true }, previous_request_ids: $workflow.staticData.previousRequestIds || [] }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data",
              "fullResponse": true
            }
          },
          "timeout": 120000
        }
      }
    },
    {
      "id": "podcast-n8n-0017",
      "name": "Save Chunk & Update IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst item = $input.first();\nconst chunkIndex = item.json.chunkIndex !== undefined ? item.json.chunkIndex : ($workflow.staticData.savedChunks || 0);\n\n// Extract request-id from response headers\nconst headers = item.json.headers || {};\nconst requestId = headers['request-id'] || headers['x-request-id'] || '';\n\n// Update rolling previousRequestIds (last 3)\nif (!$workflow.staticData.previousRequestIds) $workflow.staticData.previousRequestIds = [];\nif (requestId) {\n  $workflow.staticData.previousRequestIds.push(requestId);\n  if ($workflow.staticData.previousRequestIds.length > 3) {\n    $workflow.staticData.previousRequestIds.shift();\n  }\n}\n\n// Track total chars processed\nconst chunkText = item.json.text || '';\n$workflow.staticData.totalElevenLabsChars = ($workflow.staticData.totalElevenLabsChars || 0) + chunkText.length;\n\n// Save binary to /tmp\nconst binaryData = item.binary && item.binary.data ? item.binary.data.data : null;\nif (!binaryData) throw new Error(`No binary audio data for chunk ${chunkIndex}`);\n\nconst audioBuffer = Buffer.from(binaryData, 'base64');\nconst chunkPath = `/tmp/chunk_${chunkIndex}.mp3`;\nfs.writeFileSync(chunkPath, audioBuffer);\n\n$workflow.staticData.savedChunks = ($workflow.staticData.savedChunks || 0) + 1;\n\nreturn [{ json: { chunkIndex, requestId, savedPath: chunkPath, chunkTextLength: chunkText.length } }];"
      }
    },
    {
      "id": "podcast-n8n-0018",
      "name": "Build Concat List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 520],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const chunkCount = $workflow.staticData.chunkCount || 0;\nconst introPath = $env.INTRO_AUDIO_PATH || '/assets/intro.mp3';\nconst outroPath = $env.OUTRO_AUDIO_PATH || '/assets/outro.mp3';\n\nconst lines = [\n  `file '${introPath}'`,\n  ...Array.from({ length: chunkCount }, (_, i) => `file '/tmp/chunk_${i}.mp3'`),\n  `file '${outroPath}'`,\n];\n\nconst concatList = lines.join('\\n');\n\nreturn [{ json: { concatList, chunkCount } }];"
      }
    },
    {
      "id": "podcast-n8n-0019",
      "name": "Write Files & FFmpeg",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3320, 520],
      "parameters": {
        "command": "=printf '%s' '{{ $json.concatList }}' > /tmp/concat_list.txt && ffmpeg -y -f concat -safe 0 -i /tmp/concat_list.txt -c:a libmp3lame -b:a 128k /tmp/episode.mp3 2>&1 && echo 'FFmpeg OK'"
      }
    },
    {
      "id": "podcast-n8n-0020",
      "name": "Create Drive Subfolder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [3540, 520],
      "parameters": {
        "operation": "createFolder",
        "folderName": "={{ $workflow.staticData.episodeDate || new Date().toISOString().slice(0,10) }}",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.OUTPUT_DRIVE_FOLDER_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "id": "podcast-n8n-0021",
      "name": "Store Folder ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3760, 520],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const folderId = $input.first().json.id;\n$workflow.staticData.driveFolderId = folderId;\nreturn [{ json: { driveFolderId: folderId } }];"
      }
    },
    {
      "id": "podcast-n8n-0022",
      "name": "Read Episode MP3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3980, 520],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst mp3Buffer = fs.readFileSync('/tmp/episode.mp3');\nconst { execSync } = require('child_process');\n\n// Get duration in seconds via ffprobe\nlet durationSeconds = 0;\ntry {\n  const durStr = execSync(`ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 /tmp/episode.mp3 2>/dev/null`).toString().trim();\n  durationSeconds = parseFloat(durStr) || 0;\n} catch(e) { /* ffprobe optional */ }\n\n$workflow.staticData.durationSeconds = durationSeconds;\n\nreturn [{\n  json: { durationSeconds },\n  binary: {\n    episode: {\n      data: mp3Buffer.toString('base64'),\n      mimeType: 'audio/mpeg',\n      fileName: 'episode.mp3'\n    }\n  }\n}];"
      }
    },
    {
      "id": "podcast-n8n-0023",
      "name": "Upload Source PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [4200, 520],
      "parameters": {
        "operation": "upload",
        "name": "source.pdf",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $workflow.staticData.driveFolderId }}",
          "mode": "id"
        },
        "binaryData": true,
        "binaryPropertyName": "={{ $('Download PDF from Drive').first().binary ? 'data' : 'data' }}",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "id": "podcast-n8n-0024",
      "name": "Prepare Text Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4420, 520],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const script = $workflow.staticData.script || '';\nconst chunkCount = $workflow.staticData.chunkCount || 0;\nconst driveFolderId = $workflow.staticData.driveFolderId;\n\n// Build script_chunks.json content\nconst chunks = Array.from({ length: chunkCount }, (_, i) => ({ chunkIndex: i, requestId: '' }));\nconst chunksJson = JSON.stringify(chunks, null, 2);\n\n// Build metadata.json content\nconst now = new Date().toISOString();\nconst durationSeconds = $workflow.staticData.durationSeconds || 0;\nconst durationMin = Math.floor(durationSeconds / 60);\nconst durationSec = Math.round(durationSeconds % 60);\n\n// ElevenLabs cost estimate: ~$0.0002 AUD per char on Pro tier\nconst totalChars = $workflow.staticData.totalElevenLabsChars || 0;\nconst elevenLabsCostAud = (totalChars * 0.0002).toFixed(2);\nconst geminiCostAud = '0.01';\nconst totalCostAud = (parseFloat(elevenLabsCostAud) + parseFloat(geminiCostAud)).toFixed(2);\n\nconst metadata = {\n  timestamp: now,\n  episodeDate: $workflow.staticData.episodeDate,\n  sourcePdfFileId: $workflow.staticData.fileId,\n  scriptWordCount: $workflow.staticData.wordCount,\n  chunkCount,\n  totalElevenLabsChars: totalChars,\n  voiceId: $env.ELEVENLABS_VOICE_ID,\n  modelId: 'eleven_turbo_v2_5',\n  scriptModel: $workflow.staticData.modelUsed,\n  durationSeconds: Math.round(durationSeconds),\n  durationFormatted: `${durationMin}m ${durationSec}s`,\n  estimatedCostAud: parseFloat(totalCostAud),\n  geminiCostAud: parseFloat(geminiCostAud),\n  elevenLabsCostAud: parseFloat(elevenLabsCostAud)\n};\n\nconst metadataJson = JSON.stringify(metadata, null, 2);\n\nreturn [{\n  json: { driveFolderId },\n  binary: {\n    scriptMd: {\n      data: Buffer.from(script).toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: 'script.md'\n    },\n    chunksJson: {\n      data: Buffer.from(chunksJson).toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'script_chunks.json'\n    },\n    metadataJson: {\n      data: Buffer.from(metadataJson).toString('base64'),\n      mimeType: 'application/json',\n      fileName: 'metadata.json'\n    }\n  }\n}];"
      }
    },
    {
      "id": "podcast-n8n-0025",
      "name": "Upload Script MD",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [4640, 520],
      "parameters": {
        "operation": "upload",
        "name": "script.md",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.driveFolderId }}",
          "mode": "id"
        },
        "binaryData": true,
        "binaryPropertyName": "scriptMd",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "id": "podcast-n8n-0026",
      "name": "Upload Chunks JSON",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [4860, 520],
      "parameters": {
        "operation": "upload",
        "name": "script_chunks.json",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Prepare Text Files').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryData": true,
        "binaryPropertyName": "chunksJson",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "id": "podcast-n8n-0027",
      "name": "Upload Episode MP3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [5080, 520],
      "parameters": {
        "operation": "upload",
        "name": "episode.mp3",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Prepare Text Files').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryData": true,
        "binaryPropertyName": "episode",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "id": "podcast-n8n-0028",
      "name": "Upload Metadata JSON",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [5300, 520],
      "parameters": {
        "operation": "upload",
        "name": "metadata.json",
        "driveId": {
          "__rl": true,
          "value": "myDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Prepare Text Files').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryData": true,
        "binaryPropertyName": "metadataJson",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth"
        }
      }
    },
    {
      "id": "podcast-n8n-0029",
      "name": "Notify Completion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5520, 520],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ (function() { const meta = JSON.parse(Buffer.from($('Prepare Text Files').first().binary.metadataJson.data, 'base64').toString()); const folderUrl = 'https://drive.google.com/drive/folders/' + $workflow.staticData.driveFolderId; return JSON.stringify({ channel: $env.SLACK_APPROVAL_CHANNEL_ID, text: ':white_check_mark: *Episode ready: ' + meta.episodeDate + '*\\nDrive folder: ' + folderUrl + '\\nDuration: ' + meta.durationFormatted + '\\nEst. cost: AUD $' + meta.estimatedCostAud + '\\nWord count: ' + meta.scriptWordCount + ' | Chunks: ' + meta.chunkCount }); })() }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Podcast Trigger": {
      "main": [[{"node": "Download PDF from Drive", "type": "main", "index": 0}]]
    },
    "Download PDF from Drive": {
      "main": [[{"node": "Extract PDF Text", "type": "main", "index": 0}]]
    },
    "Extract PDF Text": {
      "main": [[{"node": "Build Gemini Prompt", "type": "main", "index": 0}]]
    },
    "Build Gemini Prompt": {
      "main": [[{"node": "Generate Script (Gemini)", "type": "main", "index": 0}]]
    },
    "Generate Script (Gemini)": {
      "main": [[{"node": "Parse Script Response", "type": "main", "index": 0}]]
    },
    "Parse Script Response": {
      "main": [[{"node": "Validate Script Length", "type": "main", "index": 0}]]
    },
    "Validate Script Length": {
      "main": [[{"node": "Post Script to Slack", "type": "main", "index": 0}]]
    },
    "Post Script to Slack": {
      "main": [[{"node": "Wait for Approval", "type": "main", "index": 0}]]
    },
    "Wait for Approval": {
      "main": [[{"node": "Approved?", "type": "main", "index": 0}]]
    },
    "Approved?": {
      "main": [
        [{"node": "Chunk Script", "type": "main", "index": 0}],
        [{"node": "Notify Rejection", "type": "main", "index": 0}]
      ]
    },
    "Chunk Script": {
      "main": [[{"node": "Validate Chunks", "type": "main", "index": 0}]]
    },
    "Validate Chunks": {
      "main": [[{"node": "Init TTS State", "type": "main", "index": 0}]]
    },
    "Init TTS State": {
      "main": [[{"node": "Loop Over Chunks", "type": "main", "index": 0}]]
    },
    "Loop Over Chunks": {
      "main": [
        [{"node": "ElevenLabs TTS", "type": "main", "index": 0}],
        [{"node": "Build Concat List", "type": "main", "index": 0}]
      ]
    },
    "ElevenLabs TTS": {
      "main": [[{"node": "Save Chunk & Update IDs", "type": "main", "index": 0}]]
    },
    "Save Chunk & Update IDs": {
      "main": [[{"node": "Loop Over Chunks", "type": "main", "index": 0}]]
    },
    "Build Concat List": {
      "main": [[{"node": "Write Files & FFmpeg", "type": "main", "index": 0}]]
    },
    "Write Files & FFmpeg": {
      "main": [[{"node": "Create Drive Subfolder", "type": "main", "index": 0}]]
    },
    "Create Drive Subfolder": {
      "main": [[{"node": "Store Folder ID", "type": "main", "index": 0}]]
    },
    "Store Folder ID": {
      "main": [[{"node": "Read Episode MP3", "type": "main", "index": 0}]]
    },
    "Read Episode MP3": {
      "main": [[{"node": "Upload Source PDF", "type": "main", "index": 0}]]
    },
    "Upload Source PDF": {
      "main": [[{"node": "Prepare Text Files", "type": "main", "index": 0}]]
    },
    "Prepare Text Files": {
      "main": [[{"node": "Upload Script MD", "type": "main", "index": 0}]]
    },
    "Upload Script MD": {
      "main": [[{"node": "Upload Chunks JSON", "type": "main", "index": 0}]]
    },
    "Upload Chunks JSON": {
      "main": [[{"node": "Upload Episode MP3", "type": "main", "index": 0}]]
    },
    "Upload Episode MP3": {
      "main": [[{"node": "Upload Metadata JSON", "type": "main", "index": 0}]]
    },
    "Upload Metadata JSON": {
      "main": [[{"node": "Notify Completion", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
